# Server Configuration
PORT=3000
HOST=0.0.0.0

# Cache Configuration (TTL in seconds)
CACHE_TTL=600

# Enable debug logging
DEBUG=false

#DB
MONGODB_URI="mongodb+srv://<username>:<password>@<cluster-name>.mongodb.net/daily_deals?retryWrites=true&w=majority"
MONGODB_DB_NAME="daily_deals"
MONGODB_COLLECTION="deals"
